{{ define "main" }}
<section class="content-area">
    <div id="main" class="container" role="main">
        <div class="row">
            <div id="primary" class="col-md-12 mb-xs-24 no-sidebar">
                <article class="post-content post-grid-wide page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="shapely-content dropcaps-content">
                            {{ .Content }}
                        </div>
                    </div><!-- .entry-content -->
                </article>
            </div><!-- #primary -->
        </div>
    </div><!-- #main -->
</section><!-- section -->
{{ end }}
