<footer id="colophon" class="site-footer footer bg-dark" role="contentinfo">
    <a id="contact"></a>
    <div class="container footer-inner">
        <div class="row">
            <div class="footer-widget-area">
                <div class="col-md-6 col-sm-6 footer-widget" role="complementary">
                    <div class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <h4>{{ i18n "footer_get_in_touch" }}</h4>
                            <p>{{ i18n "footer_phone" }}: <a href="tel:5202229242">520-222-9242</a><br>{{ i18n "footer_email" }}: <a href="mailto:tucsonfoodshare@gmail.com">tucsonfoodshare@gmail.com</a></p>
                        </div>
                    </div>
                </div><!-- .widget-area .first -->
            </div>
            <div style="float:left;clear:both;">
                <nav id="social" class="social-icons" aria-label="Social media">
                    <ul id="menu-social-items" class="list-inline social-list">
                        <li class="menu-item"><a target="_blank" rel="noopener" href="https://www.instagram.com/foodnotbombs_tucson/"><i class="fa-brands fa-instagram" aria-hidden="true"></i><span class="screen-reader-text">Instagram</span></a></li>
                        <li class="menu-item"><a target="_blank" rel="noopener" href="https://www.facebook.com/FoodNotBombsTucson/"><i class="fa-brands fa-facebook" aria-hidden="true"></i><span class="screen-reader-text">Facebook</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 right text-right">
            </div>
        </div>
    </div>

    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top" aria-label="{{ i18n "back_to_top" }}"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</footer><!-- #colophon -->
