<header id="masthead" class="site-header" role="banner">
    <div class="nav-container">
        <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Main">
            <div class="container nav-bar">
                <div class="flex-row">
                    <div class="module left site-title-container">
                        <a href="/" class="custom-logo-link"><span class="site-title">Tucson Food Share</span></a>
                    </div>
                    <button class="module widget-handle mobile-toggle right visible-sm visible-xs" aria-label="Open navigation menu" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="module-group right">
                        <div class="module left">
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul id="menu" class="menu">
                                    <li class="menu-item"><a title="About" href="/about">About</a></li>
                                    <li class="menu-item"><a title="Delivery" target="_blank" href="https://forms.gle/UPh4HMmeQhRDFXnH7">Delivery</a></li>
                                    <li class="menu-item"><a title="Donate" href="/donate">Donate</a></li>
                                    <li class="menu-item"><a title="Volunteer" href="/volunteer">Volunteer</a></li>
                                    <li class="menu-item"><a title="Contact" href="#contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--end of menu module-->
                    </div>
                    <!--end of module group-->
                </div>
            </div>
        </nav><!-- #site-navigation -->
    </div>
</header><!-- #masthead -->
