<header id="masthead" class="site-header" role="banner">
    <div class="nav-container">
        <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Main">
            <div class="container nav-bar">
                <div class="flex-row">
                    <div class="module left site-title-container">
                        <a href="{{ "/" | relLangURL }}" class="custom-logo-link"><span class="site-title">Tucson Food Share</span></a>
                    </div>
                    {{ if .Translations }}
                    {{ $translation := index .Translations 0 }}
                    <a href="{{ $translation.RelPermalink }}" class="lang-switch lang-switch-short visible-sm visible-xs" aria-label="{{ i18n "lang_switch_full" }}">
                        {{ i18n "lang_switch_short" }}
                    </a>
                    {{ end }}
                    <button class="module widget-handle mobile-toggle right visible-sm visible-xs" aria-label="{{ i18n "open_nav_menu" }}" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="module-group right">
                        <div class="module left">
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul id="menu" class="menu">
                                    <li class="menu-item"><a title="{{ i18n "nav_about" }}" href="{{ "about/" | relLangURL }}">{{ i18n "nav_about" }}</a></li>
                                    <li class="menu-item"><a title="{{ i18n "nav_delivery" }}" target="_blank" href="https://forms.gle/UPh4HMmeQhRDFXnH7">{{ i18n "nav_delivery" }}</a></li>
                                    <li class="menu-item"><a title="{{ i18n "nav_donate" }}" href="{{ "donate/" | relLangURL }}">{{ i18n "nav_donate" }}</a></li>
                                    <li class="menu-item"><a title="{{ i18n "nav_volunteer" }}" href="{{ "volunteer/" | relLangURL }}">{{ i18n "nav_volunteer" }}</a></li>
                                    <li class="menu-item"><a title="{{ i18n "nav_contact" }}" href="#contact">{{ i18n "nav_contact" }}</a></li>
                                    {{ if .Translations }}
                                    {{ $translation := index .Translations 0 }}
                                    <li class="menu-item lang-switch-full"><a href="{{ $translation.RelPermalink }}" title="{{ i18n "lang_switch_full" }}">{{ i18n "lang_switch_full" }}</a></li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                        <!--end of menu module-->
                    </div>
                    <!--end of module group-->
                </div>
            </div>
        </nav><!-- #site-navigation -->
    </div>
</header><!-- #masthead -->
